<div class="card mat-card" id="first-card">
  <div id="profile-background">
    <img src="assets/bg.jpg" />
  </div>
  <div id="info" style="padding: 16px">
    <div id="info-img">
      <img class="profile-image" src={{persona.img}} />
    </div>
    <div id="info-data">
      <div>
        <h1>{{persona.nombre}} {{persona.apellido}} <a href="#" class="smaller-font" routerLink="/editacercade/1"
            *ngIf="isLogged"><i class="fa fa-pen"></i></a></h1>
        <div id="info-company">{{persona.cargoactual}}</div>
      </div>
    </div>
    <div class="card-titles">
      <h2>Acerca de mí</h2>
    </div>
    <div>
      <p id="nombre">{{persona.descripcion}}</p>
    </div>
  </div>
  </div>